<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<extensions>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File" fileName="nlogfile.txt" />
		<target name="logconsole" xsi:type="Console" />
		<target name="aiTarget" xsi:type="ApplicationInsightsTarget" >
			<instrumentationKey></instrumentationKey>
			<contextproperty name="threadid" layout="${threadid}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="aiTarget" />
	</rules>
</nlog>